
<main>

    <div class="d-flex flex-column" id="home-image" style="
       height: 70vh; background-size: cover; background-attachment: fixed; color: white; text-shadow: 10px 10px 10px black;">
        <div class="flex-grow-1"></div>
        <div class="d-flex flex-column align-items-center justify-content-center mb-5 pb-5">
            <h1 class="mb-4 text-center" style="background-color: #4950577d">Istituto Comprensivo Macondo</h1>
            <div class="d-flex align-items-center mb-2" style="background-color: #4950577d">
                <i class="fa-solid fa-location-dot"></i>
                <p class="home-p m-0" style="color: white; font-weight: 500">Via Giovanni XXIII 2, - 00188 Roma</p>
            </div>
            <div class="d-flex align-items-center mb-2" style="background-color: #4950577d">
                <i class="fa-solid fa-phone"></i>
                <p class="home-p m-0" style="color: white; font-weight: 500">Tel: 06/90321143</p>
            </div>
            <div class="d-flex align-items-center mb-2" style="background-color: #4950577d">
                <i class="fa-solid fa-envelope"></i>
                <p class="home-p m-0" style="color:white; font-weight:500">Email: RMIC816115@istruzione.it</p>
            </div>
            <h5 class="back-g text-center">Area riservata alle scuole secondarie di primo grado</h5>
        </div>
    </div>

    <div class="container mt-3" id="anchor">
        <div class="row">
            <div class="col col-12 col-md-8">
                @*Contenuto centrale*@
                <div class="card border-0 m-4" style="background-color: var(--bs-card-cap-bg); box-shadow: 10px 10px 10px grey">
                    <div class="card-body">
                        <h5 class="card-title">Circolare n.26</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Avvio Progetto bilinguismo</h6>
                        <p class="card-text">
                            Si comunica che, martedì 7 novembre 2023 inizierà il progetto bilinguismo, nelle classi prime della scuola
                            primaria. Il progetto sarà garantito per 6 ore settimanali nei giorni martedì, mercoledì e giovedì.
                            Il pagamento avverrà tramite evento Pagopa in 3 rate:<br>
                        <p></p>
                        - 30 novembre <br>
                        - 28 febbraio<br>
                        - 30 aprile.<br>
                        <p></p>

                        Si ringrazia per la collaborazione.<hr />
                        </p>
                        <a href="#" class="card-link"></a>
                        <a href="#" class="card-link"></a>
                    </div>
                </div>

                <div class="card border-0 m-4" style="background-color: var(--bs-card-cap-bg); box-shadow: 10px 10px 10px grey">
                    <div class="card-body">
                        <h5 class="card-title">Circolare n.51</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Colloqui scuola-famiglia</h6>
                        <p class="card-text">
                            Si comunica che i giorni 28.11.2023 e 05.12.2023 si svolgeranno i colloqui scuola-famiglia della
                            Scuola Secondaria di primo grado.
                            I colloqui avranno luogo nel plesso di appartenenza, senza prenotazione. Si prega di rispettare gli orari.
                        <p>
                            Si ringrazia per la collaborazione.<hr />
                        </p>
                        <a href="#" class="card-link"></a>
                        <a href="#" class="card-link"></a>
                    </div>
                </div>

                <div class="card border-0 m-4" style="background-color: var(--bs-card-cap-bg); box-shadow: 10px 10px 10px grey">
                    <div class="card-body">
                        <h5 class="card-title">Circolare n.55</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Giornata Internazionale dell’Infanzia e dell’Adolescenza</h6>
                        <p class="card-text">
                            In riferimento all’oggetto, si sottolinea che la “Giornata Internazionale dell’Infanzia e
                            dell’Adolescenza” rappresenta una preziosa occasione per promuovere e diffondere la
                            consapevolezza sui diritti di tutte le persone di minore età.
                            Al riguardo, si comunica che, in vista del prossimo 20 novembre, UNICEF Italia propone
                            alle scuole di ogni ordine e grado alcuni strumenti che possono aiutare i docenti a realizzare,
                            all'interno delle classi, momenti di approfondimento dedicati ai diritti delle bambine, dei bambini e
                            degli adolescenti.
                        </p>
                        <hr />
                        <a href="#" class="card-link"></a>
                        <a href="#" class="card-link"></a>
                    </div>
                </div>

            </div>
            <div class="col col-12 col-md-4">
                @*Aside*@
                <div class="card border-0 m-4" style="background-color: var(--bs-card-cap-bg); box-shadow: 10px 10px 10px grey; ">
                    <img src="~/Content/Images/bullismo-1197781704-612x612.jpg" class="card-img-top" alt="...">
                    <div class="card-body">

                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseBullismo" aria-expanded="false" aria-controls="flush-collapseOne">
                                <strong>NO al bullismo!</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseBullismo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Il cyber bullismo e la manifestazione in Rete di un fenomeno piu ampio e meglio conosciuto come bullismo. Quest’ultimo e caratterizzato da azioni
                                violente e intimidatorie esercitate da un bullo, o un gruppo di bulli, su una vittima. Le azioni possono riguardare molestie verbali, aggressioni
                                fisiche, persecuzioni, generalmente attuate in ambiente scolastico. Oggi la tecnologia consente ai bulli di infiltrarsi nelle case delle vittime,
                                di materializzarsi in ogni momento della loro vita, perseguitandole con messaggi, immagini, video offensivi inviati tramite smartphone o pubblicati
                                sui siti web tramite Internet. Il bullismo diventa quindi cyberbullismo. Il cyberbullismo definisce un insieme di azioni aggressive e intenzionali,
                                di una singola persona o di un gruppo, realizzate mediante strumenti elettronici (sms, mms, foto, video, email, chatt rooms, istant messaging,
                                siti web, telefonate), il cui obiettivo e quello di provocare danni ad un coetaneo incapace a difendersi.
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card border-0 m-4" style="background-color: var(--bs-card-cap-bg); box-shadow: 10px 10px 10px grey; ">
                    <img src="~/Content/Images/istockphoto-avvisi-612x612.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseAvvisi" aria-expanded="false" aria-controls="flush-collapseOne">
                                <strong>Avvisi</strong>
                            </button>
                        </h2>
                        <div id="flush-collapseAvvisi" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                In applicazione del calendario scolastico regionale e della delibera degli Organi Collegiali, si comunica, che l’inizio delle attività didattiche
                        è previsto per il giorno 14 settembre 2023.
                        Gli orari verranno comunicati in tempi utili.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card border-0 m-4" style="background-color: var(--bs-card-cap-bg); box-shadow: 10px 10px 10px grey; ">
                    <img src="~/Content/Images/phone-old-year-built-1955-bakelite-163007.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseContatti" aria-expanded="false" aria-controls="flush-collapseOne">
                                <strong>Contatti</strong></button>
                        </h2>
                        <div id="flush-collapseContatti" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                                <p class="mb-2 text-decoration-underline">Istituto Comprensivo Macondo</p>
                                <div class="d-flex align-items-center">
                                    <p>Indirizzo: <br/>Via Giovanni XXIII 2,<br/>00188 Roma</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <p>Tel: <br/>06/90321143</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <p>Email: <br/>RMIC816115@istruzione.it</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <p>PEC: <br/>RMIC816115@pec.istruzione.it</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <p>C.F.: <br/>98117498760</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</main>