
<main>
    <img class="w-100" src="~/Content/Images/Lavagna benvenuti.png"/>

    <div class="container mt-3">
        <div class="row">
            <div class="col col-8">
                @*placeholder*@
                <div class="card border-0" style="background-color: var(--bs-card-cap-bg); box-shadow: 10px 10px 10px grey">
                    <div class="card-body">
                        <h5 class="card-title">Circolare n.26</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Avvio Progetto bilinguismo</h6>
                        <p class="card-text">
                            Si comunica che, martedì 7 novembre 2023 inizierà il progetto bilinguismo, nelle classi prime della scuola
                            primaria. Il progetto sarà garantito per 6 ore settimanali nei giorni martedì, mercoledì e giovedì.
                            Il pagamento avverrà tramite evento Pagopa in 3 rate:<br>
                        <p></p>
                        - 30 novembre <br>
                        - 28 febbraio<br>
                        - 30 aprile.<br>
                        <p></p>
                        
                        Si ringrazia per la collaborazione.<hr />
                        </p>
                        <a href="#" class="card-link"></a>
                        <a href="#" class="card-link"></a>
                    </div>
                </div>
            </div>
            <div class="col col-4">
                @*placeholder*@
                <div class="card border-0" style="background-color: var(--bs-card-cap-bg); box-shadow: 10px 10px 10px grey; ">
                    <img src="~/Content/Images/bullismo-1197781704-612x612.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">NO al bullismo!</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Bullismo e cyberbullismo</h6>
                        <p class="card-text text-truncate">
                            Il cyber bullismo e la manifestazione in Rete di un fenomeno piu ampio e meglio conosciuto come bullismo. Quest’ultimo e caratterizzato da azioni
                            violente e intimidatorie esercitate da un bullo, o un gruppo di bulli, su una vittima. Le azioni possono riguardare molestie verbali, aggressioni
                            fisiche, persecuzioni, generalmente attuate in ambiente scolastico. Oggi la tecnologia consente ai bulli di infiltrarsi nelle case delle vittime,
                            di materializzarsi in ogni momento della loro vita, perseguitandole con messaggi, immagini, video offensivi inviati tramite smartphone o pubblicati
                            sui siti web tramite Internet. Il bullismo diventa quindi cyberbullismo. Il cyberbullismo definisce un insieme di azioni aggressive e intenzionali,
                            di una singola persona o di un gruppo, realizzate mediante strumenti elettronici (sms, mms, foto, video, email, chatt rooms, istant messaging,
                            siti web, telefonate), il cui obiettivo e quello di provocare danni ad un coetaneo incapace a difendersi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
   
</main>