
<main>

    <div class="d-flex flex-column" style=" background-image: url('../../Content/Images/scuola/Black Doodle Group Project Presentation.jpg');
       height: 70vh; background-size: cover; background-attachment: fixed; color: white; text-shadow: 10px 10px 10px black;">
        <div class="flex-grow-1"></div>
        <div class="d-flex flex-column align-items-center justify-content-center mb-5 pb-5">
            <h1 class="mb-4">Istituto Comprensivo Macondo</h1>
            <div class="d-flex align-items-center mb-2">
                <i class="fa-solid fa-location-dot"></i>
                <p class="home-p m-0" style="color: white; font-weight: 500">Via Giovanni XXIII 2, - 00188 Roma</p>
            </div>
            <div class="d-flex align-items-center mb-2">
                <i class="fa-solid fa-phone"></i>
                <p class="home-p m-0" style="color: white; font-weight: 500">Tel: 06/90321143</p>
            </div>
            <div class="d-flex align-items-center mb-2">
                <i class="fa-solid fa-envelope"></i>
                <p class="home-p m-0" style="color:white; font-weight:500">Email: RMIC816115@istruzione.it</p>
            </div>
            <h5>Area riservata alle scuole secondarie di primo grado</h5>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col col-8">
                @*placeholder*@
                <div class="card border-0" style="background-color: var(--bs-card-cap-bg); box-shadow: 10px 10px 10px grey">
                    <div class="card-body">
                        <h5 class="card-title">Circolare n.26</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Avvio Progetto bilinguismo</h6>
                        <p class="card-text">
                            Si comunica che, martedì 7 novembre 2023 inizierà il progetto bilinguismo, nelle classi prime della scuola
                            primaria. Il progetto sarà garantito per 6 ore settimanali nei giorni martedì, mercoledì e giovedì.
                            Il pagamento avverrà tramite evento Pagopa in 3 rate:<br>
                        <p></p>
                        - 30 novembre <br>
                        - 28 febbraio<br>
                        - 30 aprile.<br>
                        <p></p>

                        Si ringrazia per la collaborazione.<hr />
                        </p>
                        <a href="#" class="card-link"></a>
                        <a href="#" class="card-link"></a>
                    </div>
                </div>
            </div>
            <div class="col col-4">
                @*placeholder*@
                <div class="card border-0" style="background-color: var(--bs-card-cap-bg); box-shadow: 10px 10px 10px grey; ">
                    <img src="~/Content/Images/bullismo-1197781704-612x612.jpg" class="card-img-top" alt="...">
                    <div class="card-body">

                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                NO al bullismo!
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Il cyber bullismo e la manifestazione in Rete di un fenomeno piu ampio e meglio conosciuto come bullismo. Quest’ultimo e caratterizzato da azioni
                                violente e intimidatorie esercitate da un bullo, o un gruppo di bulli, su una vittima. Le azioni possono riguardare molestie verbali, aggressioni
                                fisiche, persecuzioni, generalmente attuate in ambiente scolastico. Oggi la tecnologia consente ai bulli di infiltrarsi nelle case delle vittime,
                                di materializzarsi in ogni momento della loro vita, perseguitandole con messaggi, immagini, video offensivi inviati tramite smartphone o pubblicati
                                sui siti web tramite Internet. Il bullismo diventa quindi cyberbullismo. Il cyberbullismo definisce un insieme di azioni aggressive e intenzionali,
                                di una singola persona o di un gruppo, realizzate mediante strumenti elettronici (sms, mms, foto, video, email, chatt rooms, istant messaging,
                                siti web, telefonate), il cui obiettivo e quello di provocare danni ad un coetaneo incapace a difendersi. <code>.accordion-flush</code> class. This is the first item's accordion body.
                            </div>
                        </div>

                        @*<h5 class="card-title">NO al bullismo!</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Bullismo e cyberbullismo</h6>
                        <p class="card-text text-truncate">
                            Il cyber bullismo e la manifestazione in Rete di un fenomeno piu ampio e meglio conosciuto come bullismo. Quest’ultimo e caratterizzato da azioni
                            violente e intimidatorie esercitate da un bullo, o un gruppo di bulli, su una vittima. Le azioni possono riguardare molestie verbali, aggressioni
                            fisiche, persecuzioni, generalmente attuate in ambiente scolastico. Oggi la tecnologia consente ai bulli di infiltrarsi nelle case delle vittime,
                            di materializzarsi in ogni momento della loro vita, perseguitandole con messaggi, immagini, video offensivi inviati tramite smartphone o pubblicati
                            sui siti web tramite Internet. Il bullismo diventa quindi cyberbullismo. Il cyberbullismo definisce un insieme di azioni aggressive e intenzionali,
                            di una singola persona o di un gruppo, realizzate mediante strumenti elettronici (sms, mms, foto, video, email, chatt rooms, istant messaging,
                            siti web, telefonate), il cui obiettivo e quello di provocare danni ad un coetaneo incapace a difendersi.
                        </p>*@
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>