
@{
    ViewBag.Title = "Index";
}

<h2 class="m-4">Area riservata agli amministratori</h2>

<div class="container">
    <div class="row justify-content-center">

        <div class="col col-12 col-lg-6 d-flex m-4 m-lg-0">
            <div class="card w-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-start">
                    <h5 class="card-title">Iscrizioni</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
                    <p class="card-text">Visualizza la lista di tutte le domande d'iscrizione ricevute, accedi ai dettagli e modificane il contenuto.</p>
                    @Html.ActionLink("Visualizza tutte le domande", "Index", "DomandeIscrizione", new { area = "" }, new { @class = "nav-link" })
                </div>
            </div>
        </div>

        <div class="col col-12 col-lg-6 m-4 m-lg-0">
            <img src="~/Content/Images/istockphoto-1ad-612x612.jpg" class="w-100" />
        </div>

        <div class="col col-12 col-lg-6 m-4 m-lg-0">
            <img src="~/Content/Images/istockphoto-admin-612x612.jpg" class="w-100" />
        </div>

        <div class="col col-12 col-lg-6 d-flex m-4 m-lg-0">
            <div class="card w-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-start">
                    <h5 class="card-title">Gestione classi</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
                    <p class="card-text">Visualizza e gestisci le classi generate dal sistema in base alle domande ricevute.</p>
                    @Html.ActionLink("Domande per a.s.", "GestioneClassi", "AreaRiservata", new { area = "" }, new { @class = "nav-link" })
                </div>
            </div>
        </div>

        <div class="col col-12 col-lg-6 d-flex m-4 m-lg-0">
            <div class="card w-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-start">
                    <h5 class="card-title">Pago in rete</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
                    <p class="card-text">Visualizza e gestisci i pagamenti generati per ogni alunno iscritto.</p>
                    @Html.ActionLink("Visualizza pagamenti", "Index", "Pagamenti", new { area = "" }, new { @class = "nav-link" })
                </div>
            </div>
        </div>

        <div class="col col-12 col-lg-6 m-4 m-lg-0">
            <img src="~/Content/Images/pexels-ad-356043.jpeg" class="w-100" />
        </div>
    </div>
</div>