
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <div class="row">

        <div class="col col-6">
            <div class="card" style="">
                <div class="card-body">
                    <h5 class="card-title">Lista iscrizioni</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://localhost:44339/DomandeIscrizione/Index">Visualizza tutte le domande</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>

        <div class="col col-6"></div>

        <div class="col col-6"></div>

        <div class="col col-6">
            <div class="card" style="">
                <div class="card-body">
                    <h5 class="card-title">Gestione classi</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">gafag</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    @Html.ActionLink("Domande per anno", "GestioneClassi", "AreaRiservata", new { area = "" }, new { @class = "nav-link" })
                </div>
            </div>
        </div>

        <div class="col col-6">
            <div class="card" style="">
                <div class="card-body">
                    <h5 class="card-title">Pago in rete</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    @Html.ActionLink("Visualizza pagamenti", "TrovaPagamenti", "Famiglie", new { area = "" }, new { @class = "nav-link" })
                </div>
            </div>
        </div>

        <div class="col col-6"></div>
    </div>
</div>