
@{
    ViewBag.Title = "Index";
}

<h2 class="m-4">Area dedicata agli studenti</h2>

<div class="container">
    <div class="row">

        <div class="col col-12 col-lg-6 d-flex m-4 m-lg-0">
            <div class="card w-100 h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-start">
                    <h5 class="card-title">Scuola in chiaro</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Orientamento classi terze</h6>
                    <hr />
                    <p class="card-text">
                        Scuola in chiaro rappresenta uno strumento utile, soprattuto per famiglie e ragazzi delle classi terze che, in occasione delle
                        iscrizioni online, devono orientarsi nella scelta della scuola e del percorso di studi da scegliere alle superiori.
                    </p>
                    <hr />
                    <a href="https://cercalatuascuola.istruzione.it/cercalatuascuola/" class="card-link">Scopri di più</a>
                </div>
            </div>
        </div>

        <div class="col col-12 col-lg-6 m-4 m-lg-0">
            <img src="~/Content/Images/pexels-studen-5553050.jpeg" class="w-100" />
        </div>

        <div class="col col-12 col-lg-6 m-4 m-lg-0">
            <img src="~/Content/Images/pexels-stud-7972949.jpeg" class="w-100" />
        </div>

        <div class="col col-12 col-lg-6 d-flex m-4 m-lg-0">
            <div class="card w-100 h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-start">
                    <h5 class="card-title">Circolari studenti</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Comunicazioni scuola-studenti</h6>
                    <hr />
                    <p class="card-text">Trova tutte le circolari e gli avvisi relativi alla tua classe. Scopri anche le numerose iniziative proposte dalla scuola!</p>
                    <hr />
                    @Html.ActionLink("Visualizza circolari", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                </div>
            </div>
        </div>

        <div class="col col-12 col-lg-6 d-flex m-4 m-lg-0">
            <div class="card w-100 h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-start">
                    <h5 class="card-title">Primo soccorso</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Impara le manovre di primo soccorso</h6>
                    <hr />
                    <p class="card-text">
                        Vuoi imparare le manovre basi di primo soccorso da poter utilizzare in caso di emergenza? Le nostre schede aggiornate sono
                        semplici da imparare e facili da ricordare!
                    </p>
                    <hr />
                    <a href="https://cri.it/cosa-facciamo/salute/primo-soccorso/pillole-di-primo-soccorso/">Pillole di primo soccorso</a>
                </div>
            </div>
        </div>

        <div class="col col-12 col-lg-6 m-4 m-lg-0">
            <img src="~/Content/Images/pexels-studenti-4144923.jpeg" class="w-100" />
        </div>
    </div>
</div>
