
@{
    ViewBag.Title = "PrimoSoccorso";
}

<h2>PrimoSoccorso</h2>

<div class="container">
    <div class="row">
        <h1>Pillole di primo soccorso</h1>
        <p>Una persona sta molto male... cosa faccio? Conto fino a 6!</p>
        <div class="col">
            <div class="row">
                <div class="col col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">1</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Controllo se ci sono pericoli</h6>
                            <p class="card-text">Se ci sono pericoli chiamo aiuto</p>
                        </div>
                    </div>
                </div>
                <div class="col col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">2</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Controllo la coscienza</h6>
                            <p class="card-text">Chiamo la persona e la scuoto delicatamente</p>
                        </div>
                    </div>
                </div>
                <div class="col col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">3</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Chiamo il 118/112</h6>
                            <p class="card-text">Chiedo se c'è un DAE, metto il vivavoce e parlo con l'operatore del 118/112</p>
                        </div>
                    </div>
                </div>
                <div class="col col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">4</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Controllo le viee aeree</h6>
                            <p class="card-text">Iperestendo la testa e controllo se ci sono corpi estranei</p>
                        </div>
                    </div>
                </div>
                <div class="col col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">5</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Controllo se respira</h6>
                            <p class="card-text">Conto fino a 10 e controllo se si muove il torace</p>
                        </div>
                    </div>
                </div>
                <div class="col col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">6</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Inizio la RPC</h6>
                            <p class="card-text">30 compressioni e 2 insufflazioni (se ho una protezione per evitare il contatto diretto con la bocca della persona!)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">foto persona</p>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Chiamo la persona, la scuoto delicatamente, se non risponde è <strong>incosciente</strong></p>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Chiedo aiuto, chiamo il 118/112 mettendo il telefono in vivavoce e riferisco che c'è una persona <strong>incoscente</strong></p>
                </div>
            </div>
        </div><div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Controllo il respiro, se respira metto la persona in posizione laterale di sicurezza, se non respira inizio RCP, metto due mani una sopra l'altra al centro del torace della persona ed inizio</p>
                </div>
            </div>
        </div><div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">RCP 30 compressioni (100/120 al minuto), 2 insufflazioni bocca a bocca (solo se ho un dispositivo per impedire il contatto diretto con la bocca dell'altra persona!)</p>
                </div>
            </div>
        </div><div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Continuo con le compressioni insufflazioni fino all'arrivo del 118</p>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Foto bambino</p>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Chiamo il bambino, lo scuoto delicatamente, se non risponde è <strong>incosciente</strong></p>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Chiedo aiuto, chiamo il 118/112 mettendo il telefono in vivavoce e riferisco che c'è una persona <strong>incoscente</strong></p>
                </div>
            </div>
        </div><div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Controllo il respiro, se respira metto il bambino in posizione laterale di sicurezza, se non respira inizio RCP, metto una mano al centro del torace del bambino ed inizio</p>
                </div>
            </div>
        </div><div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">RCP 30 compressioni (100/120 al minuto), 2 insufflazioni bocca a bocca (solo se ho un dispositivo per impedire il contatto diretto con la bocca ed il naso del bambino!)</p>
                </div>
            </div>
        </div><div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">6</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Inizio la RPC</h6>
                    <p class="card-text">Continuo le compressioni/insufflazioni fino all'arrivo del 118</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">foto lattante</p>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Chiamo il lattante e lo tocco sotto i piedini nudi, se non si muove, non apre gli occhi e non piange è <strong>incosciente</strong></p>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Chiedo aiuto, chiamo il 118/112 mettendo il telefono in vivavoce e riferisco che c'è un lattante <strong>incoscente</strong></p>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Controllo il respiro, se non respira inizio la RCP, metto due dita al centro del torace ed inizio</p>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">RCP 30 compressioni (100/120 al minuto), 2 insufflazioni bocca a bocca (solo se ho un dispositivo per impedire il contatto diretto con il naso e la bocca del lattante)</p>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Continuo con le compressioni insufflazioni fino all'arrivo del 118</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">foto lattante</p>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">foto lattante</p>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">foto lattante</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">foto lattante</p>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">foto lattante</p>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">foto lattante</p>
                </div>
            </div>
        </div>
    </div>
</div>
