@model CAPSTONE_PROJECT.Models.DomandeIscrizione

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Partial("_DomandaIscrDetails")
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDomanda }) |
    @Html.ActionLink("Back to List", "Index")
</p>
