@model CAPSTONE_PROJECT.Models.DomandeIscrizione

@{
    ViewBag.Title = "ParentsDetails";
}

<h2>ParentsDetails</h2>

@Html.Partial("_DomandaIscrDetails")



<p>
    @Html.ActionLink("Torna nell'area famiglie", "Index", "Famiglie")
</p>