@model CAPSTONE_PROJECT.Models.DomandeIscrizione

@{
    ViewBag.Title = "ParentsDetails";
}

<h2 class="m-4" style="color: #00928E">Domanda trasmessa con successo!</h2>

<div class="my-form">
    <h4>Riepilogo domanda n. @this.Model.IdDomanda</h4>
    @Html.Partial("_DomandaIscrDetails")
</div>


<p class="m-4">
    @Html.ActionLink("Torna nell'area famiglie", "Index", "Famiglie")
</p>