
@{
    ViewBag.Title = "TrovaPagamenti";
}

<h2>TrovaPagamenti</h2>

<input class="form-control me-2" id="cf" type="text" placeholder="Inserisci il tuo codice fiscale">
<button class="btn btn-primary" id="cfButton">Trova pagamenti</button>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#cfButton").click(function () {
                var inputVal = $("#cf").val()
                console.log(inputVal)
                if (inputVal !== "")
                {
                $.ajax({
                    method: 'GET',
                    url: "Pagamenti/Details",
                    data: { cf: inputVal },
                    success: function (data) {
                        console.log(data)
                        if (data.status == true) {
                            $(window.location).attr("href", "./Pagamenti/Details?id=" + data.id)

                        }
                        else
                        {
                            var newP = `<p class="text-danger">Non sono stati trovati pagamenti disponibili</p>`
                            if ($('#response').children().length == 0) {
                                $('#response').append(newP)
                                console.log($('#response'))
                            }
                        }
                    }

                })
                }
            })




        })



    </script>




}
