@using CAPSTONE_PROJECT.Models

@{
    ViewBag.Title = "TrovaPagamenti";
}

@{
    var totale = TempData["totale"] as string;
}

@{
    var id = TempData["id"];
}

@{ 
    var alunnoNonTrovato = TempData["alunnoNonTrovato"];
}

<h2 class="m-4">Cerca pagamento</h2>
<div class="my-form px-0 px-md-4">
    @*Input in which parents insert their CF*@
    <input class="form-control m-4" id="cf" type="text" placeholder="Inserisci il tuo codice fiscale">
    <button class="btn m-4" id="cfButton">Trova pagamenti</button>
    @if (totale != null)
    {
        <div class="m-4" id="showPag">
            <h4>Importo mensile dovuto:</h4>
            <h5 id="response" class="m-4">@decimal.Parse(totale).ToString("C2")</h5>
            @Html.ActionLink("Visualizza dettagli pagamento", "Details", "Pagamenti", new { id = @id }, new { @class = "nav-link" })
        </div>
    }
    @if(alunnoNonTrovato != null)
    {
        <p class="ps-2">@alunnoNonTrovato</p>
    }
</div>

@*Sending the parent CF and calling the function "Pagamento", in order to generate the payment for the student who has a parent with that CF value*@
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#cfButton").click(function () {
                var inputVal = $("#cf").val()
                console.log(inputVal)
                if (inputVal !== "") {
                    $.ajax({
                        method: 'POST',
                        url: "Pagamento",
                        data: { cf: inputVal },
                        success: function (data) {
                            console.log(data);
                            location.reload();
                        }
                    })
                }
            })
        })
    </script>
}
